<!DOCTYPE html>
<html lang="cs">
<head>
    <title>RazorBite | Restaurace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <section class="jumbotron text-center">
        <h1 class="display-4">Vítejte v restauraci RazorBite</h1>
        <p class="lead">Nabízíme skvělou gastronomii a příjemné prostředí</p>
        <hr class="my-4">
        <a class="btn btn-primary" asp-area="" asp-controller="Orders" asp-action="Create">Rezervovat stůl</a>
    </section>
    <br />
    <br />
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">O nás</h2>
                <p class="lead">Restaurace RazorBite je místem, kde se můžete těšit na jedinečné gastronomické zážitky. Snažíme se poskytnout nejlepší služby a zážitky pro naše hosty.</p>
                <p>Naše menu obsahuje širokou škálu jídel, která jsou připravována z čerstvých a kvalitních surovin. Nabízíme také více než 50 druhů vín z celého světa.</p>
            </div>
            <div class="col-md-6">
                <img src="~/Images/imagemain.jpg" alt="Interiér restaurace RazorBite" class="img-fluid">
            </div>
        </div>
    </section>
    <br />
    <br />
    <section class="container">
        <h2 class="mb-4">Dnešní nabídka</h2>
        <div class="card-deck">
            <div class="card">
                <img src="~/Images/salmon.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Grilovaný losos</h5>
                    <p class="card-text">Smažený losos s čerstvou zeleninou a bramborovými hranolky</p>
                    <p class="card-text font-weight-bold"><small class="text-muted">Cena: 179 Kč</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/chickensteak.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kuřecí řízek</h5>
                    <p class="card-text">Smažený kuřecí řízek s bramborovou kaší a zeleninovým salátem</p>
                    <p class="card-text font-weight-bold"><small class="text-muted">Cena: 189 Kč</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/pasta.jpg" style="width:340px; height:225px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Těstoviny s pestem</h5>
                    <p class="card-text">Těstoviny s domácím pestem, parmazánem a cherry rajčátky</p>
                    <p class="card-text font-weight-bold"><small class="text-muted">Cena: 149 Kč</small></p>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Kontakt</h2>
                <p class="lead">RazorBite | Restaurace</p>
                <p class="lead">Ulice Čs. armády 123</p>
                <p class="lead">Praha 1, 110 00</p>
                <p class="lead">Tel: +420 123 456 789</p>
                <p class="lead">Email: info@razorbite.cz</p>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.744873307834!2d14.428083215726915!3d50.085266479432424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6e678dc51e23e6f9!2sRazorBite!5e0!3m2!1sen!2scz!4v1649936742792!5m2!1sen!2scz" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>
    <br />
    <br />
    <section class="container">
        <h2 class="mb-4">Najdete nás zde</h2>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Restaurace RazorBite</h5>
                    <p class="card-text">Ulice Čs. armády 123</p>
                    <p class="card-text">Praha 1, 110 00</p>
                </div>
            </div>
        </div>
    </section>
    <br /><br />
</body>
</html>


