<!DOCTYPE html>
<html>
<head>
	<title>Menu - RazorBite</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		.card-img-top {
			height: 200px;
			width: 338px;
		}

		.card-img-main {
			height: 200px;
			width: 329px;
		}

		.card-img-down {
			height: 200px;
			width: 329px;
		}

		img:hover {
			transform: scale(1.1);
			transition: transform 0.3s ease-in-out;
		}


	</style>
</head>
<body>
	<div class="container">
		<h1 class="text-center my-4">Dezerty</h1>
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="card mb-4">
					<img class="card-img-top" src="~/Images/tiramisu.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Tiramisu</h5>
						<p class="card-text">Tradiční italský dezert.</p>
						<p class="card-text font-weight-bold">Cena: 55 Kč</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="card mb-4">
					<img class="card-img-top" src="~/Images/chocolatecake.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Chocolate Cake</h5>
						<p class="card-text">Čokoládový dortík se šlehačkou.</p>
						<p class="card-text font-weight-bold">Cena: 55 Kč</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="card mb-4">
					<img class="card-img-top" src="~/Images/cheesecake.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Cheesecake</h5>
						<p class="card-text">Krémový cheesecake s ovocem.</p>
						<p class="card-text font-weight-bold">Cena: 65 Kč</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="card mb-4">
					<img class="card-img-top" src="~/Images/lavacake.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Lávový dortík</h5>
						<p class="card-text">Teplý, čokoládový dortík.</p>
						<p class="card-text font-weight-bold">Cena: 75 Kč</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="card mb-4">
					<img class="card-img-top" src="~/Images/lime.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Limetkový koláč</h5>
						<p class="card-text">Limetkový dortík s ovocnou náplní.</p>
						<p class="card-text font-weight-bold">Cena: 75 Kč</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="card mb-4">
					<img class="card-img-top" src="~/Images/sundae.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Sundae</h5>
						<p class="card-text">Dezert s vanilkou a ovocem</p>
						<p class="card-text font-weight-bold">Cena: 80 Kč</p>
					</div>
				</div>
			</div>
		</div>		
		<section id="main-courses" class="py-5">
			<div class="container">
				<h2 class="text-center mb-4">Hlavní jídla</h2>
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="card mb-4">
							<img class="card-img-main" src="~/Images/steak.jpg" alt="Hlavní jídlo 1">
							<div class="card-body">
								<h5 class="card-title">Steak s hranolky</h5>
								<p class="card-text">Hovězí steak s domácími hranolkami.</p>
								<p class="card-text font-weight-bold">Cena: 165 Kč</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="card mb-4">
							<img class="card-img-main" src="~/Images/duck.jpg" alt="Hlavní jídlo 2">
							<div class="card-body">
								<h5 class="card-title">Kachna se zelím a knedlíkem</h5>
								<p class="card-text">Pečená kachna se zelím a knedlíkem.</p>
								<p class="card-text font-weight-bold">Cena: 165 Kč</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="card mb-4">
							<img class="card-img-main" src="~/Images/salmon2.jpg" alt="Hlavní jídlo 3">
							<div class="card-body">
								<h5 class="card-title">Grilovaný losos</h5>
								<p class="card-text">Grilovaný losos s pečenými bramborami.</p>
								<p class="card-text font-weight-bold">Cena: 185 Kč</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="card mb-4">
							<img class="card-img-main" src="~/Images/prawns.jpg" alt="Hlavní jídlo 4">
							<div class="card-body">
								<h5 class="card-title">Krevety se zeleninou</h5>
								<p class="card-text">Krevety s čerstvými bylinkami a salátem.</p>
								<p class="card-text font-weight-bold">Cena: 175 Kč</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="card mb-4">
							<img class="card-img-main" src="~/Images/svickova.jpg" alt="Svíčková">
							<div class="card-body">
								<h5 class="card-title">Svíčková</h5>
								<p class="card-text">České jídlo se svíčkovou knedlíkem.</p>
								<p class="card-text font-weight-bold">Cena: 155 Kč</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="card mb-4">
							<img class="card-img-main" src="~/Images/spagheti.jpg" alt="Boloňské špagety">
							<div class="card-body">
								<h5 class="card-title">Boloňské špagety</h5>
								<p class="card-text">Italská klasika mletým hovězím masem.</p>
								<p class="card-text font-weight-bold">Cena: 125 Kč</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="drinks" class="container-fluid py-5">
			<div class="container">
				<h2 class="text-center mb-4">Nápojový lístek</h2>
				<div class="row">
					<div class="col-md-6 col-lg-4"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mb-4">
					<div class="card">
						<img class="card-img-down" src="~/Images/beer.jpg" alt="Pivo">
						<div class="card-body">
							<h5 class="card-title">Pivo</h5>
							<p class="card-text">Klasické pivo 0,5l</p>
							<p class="card-text font-weight-bold">Cena: 50 Kč</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card">
						<img class="card-img-down" src="~/Images/wine.jpg" alt="Víno">
						<div class="card-body">
							<h5 class="card-title">Víno</h5>
							<p class="card-text">Červené nebo bílé 0,2l</p>
							<p class="card-text font-weight-bold">Cena: 70 Kč</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card">
						<img class="card-img-down" src="~/Images/fanta.jpg" alt="Fanta">
						<div class="card-body">
							<h5 class="card-title">Fanta</h5>
							<p class="card-text">Známý americký nápoj</p>
							<p class="card-text font-weight-bold">Cena: 40 Kč</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-6">
				<div class="col-md-4 mb-4">
					<div class="card">
						<img class="card-img-down" src="~/Images/malinovka.jpg" alt="Malinovka">
						<div class="card-body">
							<h5 class="card-title">Malinovka</h5>
							<p class="card-text">Domácí malinovka z čerstvého ovoce</p>
							<p class="card-text font-weight-bold">Cena: 35 Kč</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-down" src="~/Images/water.jpg" alt="Voda">
						<div class="card-body">
							<h5 class="card-title">Voda</h5>
							<p class="card-text">Voda perlivá či neperlivá</p>
							<p class="card-text font-weight-bold">Cena: 35 Kč</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-down" src="~/Images/rum.jpg" alt="Rum">
						<div class="card-body">
							<h5 class="card-title">Rum</h5>
							<p class="card-text">Kvalitní rum z cukrové třtiny</p>
							<p class="card-text font-weight-bold">Cena: 65 Kč</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>