<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Odhlášení</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f7f7f7;
        }

        .container {
            margin-top: 100px;
            text-align: center;
        }

        h1 {
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 40px;
        }

        p {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .btn {
            font-size: 2rem;
            padding: 10px 30px;
            border-radius: 50px;
            background-color: #df3f3f;
            border: none;
            color: #ffffff;
            margin-top: 40px;
        }

            .btn:hover {
                background-color: #b32f2f;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Odhlášení proběhlo úspěšně!</h1>
        <p>Děkujeme za používání našich služeb.</p>
        <a class="btn" asp-area="Identity" asp-page="/Account/Login">Přihlásit se znovu</a>
    </div>

</body>
</html>

